.row::after{
    content:"";
    clear: "both";
    display: table;
}


[class*="col-"] {
    float: left;
   
  }
  
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}

.sty{
    font-size: 24px;
    color: black;
    padding-left: 40px;
    padding-top: 15px;
    
    }
    .fo{
        font-size: 24px;
        padding-top: 15px;
    }
.sty3{
    padding-left:1500px;
    background-color: blue;
    border-radius: 25px;
    padding: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;

    
    

}
.sty1{padding-left: 40px;
    text-decoration: none;
}
.a{
    color: blue;
}
.sty2{
    text-decoration: none;
}
.back {
    width: 98%;
    height: 100vh;
    background: linear-gradient(to right,
            rgb(252, 252, 252) 0%,
            rgb(255, 255, 255) 70%,
            paleturquoise 30%,
            paleturquoise 100%);
            padding: 20px;
}
.oo{
    font-size: 92px;
    padding-top: 200px;
    
}
.w{
    color: white;
}
.bbb{
    border-radius: 25px;
    padding: 20px;
    border:solid 2px black;
    font-size: 16px;
    text-decoration: none;
}
.bb{
    background-color: blue;
    padding: 20px;
    border: solid 2px black;
    color: white;
    font-size: 16px;
    border-radius: 25px;
    text-decoration: none;
}
.h{
    font-size: 64px;
    font-weight: bold;
    text-align: center;
    color: blue;
}
.h2{
    font-size: 32px;
    text-align: center;
    color: blue;
}
.sss{
    font-size:32px;
    font-weight: bold;
    text-align: center;

}
.bc{
    background-color: rgb(235, 245, 245) ;
}
.po{
    font-size: 64px;
   color:blue(8, 8, 8);
   color: blue;
    padding-top: 20px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.ppo{
    font-size: 32px;
    padding-left: 10px;
    padding-top: 10px;
}
.relative{
    position: relative;
  

}
.absolute{
    position:absolute;
    top:450px;
  
    
}
.pic{
    width: 70%;
    padding-left: 30%;
    
}
.font{
    font-size: 32px;
    background-color:lightgoldenrodyellow(172, 240, 240, 0.253);
}

.pm{
    font-size: 24px;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-top: 20px;
}
.WW{
    padding: 10PX;
    color: rgb(16, 17, 17);
    border-radius: 5PX;
    border-color: brown;
}
.boxrel{
    position: relative;
    border: 5px solid rgb(226, 152, 152);
    padding: 50px;
    height: 300px;
    width: 200px;
}
.boxrel:hover{
 border-bottom: 5px solid blue;
}

.boxrel{
    position: relative;
}
.aaa{
    position: absolute;
    top: 100px;
    background-color:white
    
}
.l{
font-size: 72px;
color: gray;
margin-top: 1px;
text-align: center;

}
.t1{
    
    color: blue;
     font-size:42px ;
     padding-top: 10px;
     text-align: center;
}
.bck{
    background-color:  paleturquoise;
}


.rat{
    color: orange;
    size: 10px;
}
  


.PU{
    width: 70%;
    padding-left: 10%;
    
   
}
.pic2{
    width: 100%;
    padding-left: 5%;
}
.bbbb{
    background-color: rgb(81, 81, 248);
    padding: 5px;
    border: solid 2px black;
    color: white;
    font-size: 12px;
    border-radius: 5px;
    text-decoration: none;
}
.sj{
    color: rgb(18, 18, 19);



}
.bck1{
    background-color: rgb(80, 80, 248);
    border: solid 1px rgb(221, 140, 140) ;
    border-radius: 6%;
    color:white;
    margin-top: 80px;
   
}
.poi{
   
    margin-right: 800px;
}
.prd{
    border: 5px solid rgb(250, 147, 147) ;
    background-color: rgb(129, 241, 204);
    

}
.pdd{
    padding: 50px;
    background-color: bisque;
    color: rgb(3, 3, 3);
    border: solid rgb(243, 153, 153) 5px;
    font-size: 32px;
}
.pou{
    font-size: 24px;
    color: blue;
   

}
.poy{
    padding: 25px;
    padding-left: 500px;
    position: center;
}
.bcrewq{
    background-color:white ;
}
.bcrew{
    background-color: rgb(200, 243, 243) ;
}
.g{
    color:white
}
.d{
    color: rgb(200, 243, 243) ;
}

@media only screen and (max-width: 600px) {
    .body {
      background-color: lightblue;
      width: 1%;
    }
  }


